extends layout

block content
  h1= title
  p Welcome to Madhushree web application page working on pug #{title}

  button(type="button", class="btn btn-secondary" onClick="goFaster()") Press  me

  div#faster Increase the speed

  script.
    console.log("running on http://localhost:3000/")

  script.
    var mph = 20;
    var change = 1;

    function goFaster() {
        mph += change;
        change += 1;
        document.getElementById('faster').textContent = `MPH ${mph} with change ${change}`;
    }
  hr
  a(href='/aircraft') Aircraft_Link

