body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.aircraftAttr {
  background-color: aquamarine;
  width: 120px;
  /* color: blue;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  font-weight: bolder; */
  }
